nav{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 50px;
  margin: auto;
  padding: 5px;
  border: 1px solid green;
  position: sticky;
  top: 0;
}